<div class="modal-header">
  <h3 class="modal-title"><%= title %></h3>
</div>
<div class="modal-body">
  <table class="table">
    <tr>
      <td><%= renameTitle %></td>
      <td><input type="text" ng-model="settings.name" /></td>
    </tr>
    <tr ng-hide="settings.attributes == undefined">
      <td><%= renameAttributes %></td>
      <td><textarea rows="5" cols="30" ng-model="settings.attributes"></textarea></td>
    </tr>
    <tr ng-hide="settings.methods == undefined">
      <td><%= renameMethods %></td>
      <td><textarea rows="5" cols="30" ng-model="settings.methods"></textarea></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()"><%= buttonSave %></button>
  <button class="btn btn-default" ng-click="cancel()"><%= buttonCancel %></button>
</div>