<div class="panel panel-default">
  <div class="panel-body">
    <form name="diagramInformationForm" novalidate>
      <div class="form-group" ng-class="{'has-error': (diagramInformationForm.$submitted || diagramInformationForm.title.$touched) && diagramInformationForm.title.$invalid}">
        <label for="title" class="control-label"><%= title %></label>
        <input type="text" class="form-control" id="title" placeholder="<%= title %>" name="title" ng-model="diagram.name" required />
        <span ng-show="diagramInformationForm.$submitted || diagramInformationForm.title.$touched">
          <span ng-show="diagramInformationForm.title.$error.required"><%= fieldRequired %></span>
        </span>
      </div>
      <div class="form-group" ng-class="{'has-error': (diagramInformationForm.$submitted || diagramInformationForm.description.$touched) && diagramInformationForm.description.$invalid}">
        <label for="description" class="control-label"><%= description %></label>
        <textarea class="form-control" rows="10" id="description" placeholder="<%= description %>" name="description" ng-model="diagram.description" required></textarea>
        <span ng-show="diagramInformationForm.$submitted || diagramInformationForm.description.$touched">
          <span ng-show="diagramInformationForm.description.$error.required"><%= fieldRequired %></span>
        </span>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="diagram.isPublic">
          <%= publicDiagram %>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="save(diagram)"><%= save %></button>
      <button type="submit" class="btn btn-default" ng-click="cancel()"><%= cancel %></button>
    </form>
  </div>
</div>