<h1 class="page-header">
  <%= diagrams %>
  <span class="pull-right form-inline">
    <input class="form-control" type="text" placeholder="<%= search %>" ng-model="searchText">
    <a class="btn btn-default" href="#/addDiagram" tooltip-placement="bottom" tooltip="<%= addDiagram %>"><span class="glyphicon glyphicon-plus"></span></a>
  </span>
</h1>
<div class="row" ng-repeat-start="diagram in (diagrams | filter:searchText) | startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage">
  <div class="col-md-7">
    <a href="#/diagram/{{diagram._id}}">
      <img class="img-responsive" src="http://placehold.it/700x300" alt="{{diagram.name}}">
    </a>
  </div>
  <div class="col-md-5">
    <h3>{{diagram.name}}</h3>
    <p class="diagram-description">{{diagram.description}}</p>
    <a class="btn btn-danger" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="<%= deleteDiagram %>" ng-click="removeDiagram($index)"><span class="glyphicon glyphicon-trash"></span></a>
    <a class="btn btn-default" href="#/diagramInformation/{{diagram._id}}" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="<%= updateInformation %>"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-primary" href="#/diagram/{{diagram._id}}" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="<%= editDiagram %>"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<hr ng-repeat-end>
<div class="text-center">
  <pagination ng-model="currentPage" total-items="(diagrams | filter:searchText).length" items-per-page="numPerPage" max-size="maxSize" boundary-links="true" next-text="<%= paginationNext %>" previous-text="<%= paginationPrevious %>" first-text="<%= paginationFirst %>" last-text="<%= paginationLast %>"></pagination>
</div>