<div class="panel panel-default full-height designer-main-container">
  <div class="panel-body full-height">
    <h1 class="page-header designer-header">
      <a class="btn btn-default" tooltip-placement="bottom" tooltip="<%= back %>"  ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span></a>
      {{diagram.name}}
    </h1>
    <div class="full-height designer-main-container-wrap">
      <div class="full-height designer-container">
        <designer></designer>
      </div>
    </div>
    <div class="diagram-comment-container">
      <h3><%= comments %></h3>
      <hr>
      <div ng-repeat-start="comment in diagram.comments">
        <p class="diagram-comment">{{comment.text}}</p>
        <span class="diagram-comment-sub-text">{{comment.author}} &#8226; {{comment.creationDate | date:'<%= dateFormat %>'}}</span>
      </div>
      <hr ng-repeat-end>
      <form ng-show="isAuthentificated" ng-submit="commentDiagram(diagram._id)" name="commentDiagramForm" novalidate>
        <div class="form-group" ng-class="{'has-error': (commentDiagramForm.$submitted || commentDiagramForm.comment.$touched) && commentDiagramForm.comment.$invalid}">
          <label for="cooment" class="control-label"><%= comment %></label>
          <textarea class="form-control" rows="10" id="comment" placeholder="<%= comment %>" name="comment" ng-model="comment" required></textarea>
          <span ng-show="commentDiagramForm.$submitted || commentDiagramForm.comment.$touched">
            <span ng-show="commentDiagramForm.comment.$error.required"><%= fieldRequired %></span>
          </span>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="addComment(comment, diagram._id)"><%= addComment %></button>
      </form>
    </div>
  </div>
</div>
