<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="brainworks" layout="column">
    <md-toolbar layout="row">
      <h1 class="md-toolbar-tools logo" flex="25">
        <a layout="row" href="#/">
          <img src="/images/brainworks.png" alt="Logo">
          <div>Brainworks</div>
        </a>
      </h1>
      <div layout="row" layout-align="end center" flex>
        <md-button class="page-button" ng-href="#/home"><%= home %></md-button>
        <md-button ng-show="true" class="page-button" ng-href="#/sign_in"><%= sign_in %></md-button>
        <md-button ng-show="false" class="page-button" ng-href="#/"><%= profile %></md-button>
        <md-button class="page-button" ng-href="#/about"><%= about %></md-button>
      </div>
    </md-toolbar>
    <md-content md-scroll-y flex ui-view class="md-padding"></md-content>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
    <script src="/javascript/main.js"></script>
  </body>
</html>