<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body ng-app="brainworks">
    <div id="header">
      <table>
        <tr>
          <td>
            <img alt="Logo" src="/images/brainworks.png" id="logo">
            <h2 id="title"><%= title %></h2>
          </td>
          <td>
            <div id="navbar" >
            	<a ng-class="about" class="nav" href="#/about"><%= button_about %></a>
            	<a ng-class="signin" class="nav" href="#/signin"><%= button_signin %></a>
            	<a ng-class="home" class="nav" href="#/"><%= button_home %></a>
            </div>
          </td>
        </tr>          
      </table>
    </div>
    <div ng-view></div>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script> -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>
    <script src="/javascript/main.js"></script>
  </body>
</html>